@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (max-width: 1200px){

}


@media (max-width: 767px) and (min-width: 320px) {

  .slider_section {
    padding-top: 300px;
    height: 300px;
    padding-bottom: 400px;
  }

  .slider_section .number_box {
    width: 25px;
    font-size: 11px;
    top: 20%;
  }

  .slider_section .number_box::before {
    width: 15px;
  }

  .slider_section .detail-box h1 {
    color: #6D603D;
    font-family: "";
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
  }

  .slider_section .detail-box h1 span {
    font-size: 3rem;
    font-family: "vogue";
    color: #252525;
  }

  .slider_section .detail-box .btn-box {
    margin-top: 5px;
    text-align: center;
    margin-bottom: 10px;
  }

  .slider_section .detail-box .btn-box a {
    text-transform: uppercase;
    text-align: center;
    width: 135px;
    font-size: 15px;
  }

  .slider_section .detail-box .btn-box .btn-1 {
    display: inline-block;
    padding: 3px 0;
    background-color: darkgreen;
    color: #ffffff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid transparent;
    border-radius: 20px;
    margin-right: 5px;
  }

  .slider_section .img-container .img-box {
    width: 400px;
    margin-right: 10px;
  }

  .slider_section .carousel-indicators {
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    bottom: -50px;
  }

  .slider_section .carousel-control-prev {
    position: absolute;
    z-index: 10;
    font-size: 25px;
    top: 60%;
    left: 10px;
    font-weight: 700;
  }

  .slider_section .carousel-control-next {
    right: 10px;
    position: absolute;
    font-size: 30px;
    z-index: 10;
    top: 60%;
  }

  .about_section {
    padding-bottom: 50px;
  }

  .about_section h2 {
  font-size: 2rem;  
  }

  .about_section .detail-box p {
    font-size: 1.5rem;
  }

  .about_section .box {
    width: 30px;
    height: 30px;
  }

  .about_section .box .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 1.5px;
  }

  .about_section .box:hover {
    width: 120px;
    background: linear-gradient(to right, darkgreen, rgb(30, 192, 30));
  }

  .about_section .box .text {
    display: none;
    margin:0 0 8px 8px;
    transform: translateY(5px);
  }

  .about_section .box:hover .text {
    display: flex;
    font-size: 15px;
    font-weight: 550;
    color: black;
    letter-spacing: 0.6px;
    animation: animasi10 0.6s ease;
  }


  .about_section .img-box img {
    width: 100%;
    padding: 10px 80px;
  }

  .trending_section .radio-input {
    padding-top: 5px;
    display: flex;
    height: 280px;
    align-items: center;
  }

  .trending_section .glass {
    z-index: 2;
    height: 100%;
    width: 75px;
    margin-right: 30px;
    padding: 8px;
    background-color: rgba(190, 189, 189, 0.5);
    border-radius: 35px;
    box-shadow: rgba(50, 50, 93, 0.2) 0px 25px 50px -10px,
     rgba(0, 0, 0, 0.25) 0px 10px 30px -15px,
      rgba(10, 37, 64, 0.26) 0px -2px 6px 0px inset;
    backdrop-filter: blur(8px);
  }

  .trending_section .choice {
    margin: 10px 0px 10px 10px;
    display: flex;
    align-items: center;
  }

  .trending_section .choice > div {
    position: relative;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    z-index: 0;
  }

  .trending_section .choice-name {
    font-size: 25px;
    font-weight: 900;
    font-family: monospace;
    cursor: pointer;
  }

  .trending_section .gambar {
    padding-top: 25px;
    
  }

  .trending_section .img_container .box .img-box img {
    width: 150px;
    height: 100px;
  }

  .discount_section{
    padding: 25px;
  }
  
  .discount_section .detail-box h2 {
    font-size: 2.3rem;
    text-transform: uppercase;
    font-family: "Jazz LET";
    text-align: center;
  }

  .discount_section .detail-box h3 {
    font-family: "orbit";
    font-size: 25px;
  }

  .discount_section .button {
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    --width: 125px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: darkgreen;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
  }

  .contact_section .undangan {
    width: 250;
    height: 300px;
  }
  
  .gmap_canvas {
    overflow: hidden;
    background: none;
    width: 300px;
    height: 225px;
  }


  .client_container{
    margin: 5px 0 0 0;
  }

  .client_section h2{
    font-size: 2.5rem;
    text-align: center;
  }

  .client_container .kartu{
    display: grid;
  }

  .client_container .card {
    margin: 30px 0;
    width: 255px; 
    height: 285px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
  }

  .client_section .cssbuttons-io-button {
    margin: 10px 0 30px 70px;
  }
  

  .sosmed{
    margin-top: 50px;
    margin-left: 25%;
  }

  .footer-donate{
    padding-bottom: 40px;
  }
    
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #222222;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.fa-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(9, 9, 9, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
}

.navbar-mobile>ul>li {
  padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown{
  padding:10px 20px;
  font-size: 15px;
}

.navbar-mobile .dropdown i{
display: none;
}

.navbar-mobile .dropdown ul {
  position: static;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}


.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}
