body{
  background-color: #fff8EA;
}
.judul h1{
  text-align: center;
}

h4{
  text-align: center;
}
.crd {
  background-image: linear-gradient(to top right #363636, #929201);
  margin: 0;
  display: flex;
  font-family: monospace;
}

.slider {
  position: relative;
  width: 100%;
  height: 370px;
  overflow: hidden;
}

.item {
  position: absolute;
  width: 220px;
  height: 320px;
  text-align: justify;
  background-color: green;
  border-radius: 10px;
  padding: 20px;
  transition: 0.5s;
  left: calc(50% - 110px);
top: 0;
}
.crd img{
  width: 180px;
  height: 150px;
}

#next, #prev{
  position: absolute;
  top:40%;
  color: #000;
  background-color: transparent;
  border: none;
  font-size: xxx-large;font-family: monospace;
  font-weight: bold;
}
#prev{
  right: unset;
  left: 50px;
}

#next{
  left: unset;
  right: 50px;
}

.gambar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.gambar img{
  width: 300px;
  height: 200px;
  border: 4px solid #575D63;
  padding: 10px;
  margin: 10px;
}

.baju img{
  width: 500px;
  height: 400px;
  display: flex;
  justify-content: center;
  margin: auto;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.makanan {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff8EA;
  overflow: hidden;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  width: 300px;
  height: 400px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  filter: blur(1px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
}

.swiper-slide-active {
  filter: blur(0px);
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-slide span {
  text-transform: uppercase;
  color: #fff;
  background: #1b7402;
  padding: 7px 18px 7px 25px;
  display: inline-block;
  border-radius: 0 20px 20px 0px;
  letter-spacing: 2px;
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
}

.swiper-slide--one span {
  background: #62667f;
}

.swiper-slide--two span {
  background: #087ac4;
}

.swiper-slide--three span {
  background: #b45205;
}

.swiper-slide--four span {
  background: #087ac4;
}

.swiper-slide h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.4;
  margin-bottom: 15px;
  padding: 25px 45px 0 25px;
}

.swiper-slide p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  display: flex;
  align-items: center;
  padding: 0 25px 35px 25px;
}

.swiper-slide svg {
  color: #fff;
  width: 22px;
  height: 22px;
  margin-right: 7px;
}

.swiper-slide--one {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(../images/tempoyakjambi.jpeg)
      no-repeat 50% 50% / cover;
}

.swiper-slide--two {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(../images/kuepadamaran.jpeg)
      no-repeat 50% 50% / cover;
}

.swiper-slide--three {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(../images/nasigemuk.jpeg)
      no-repeat 50% 50% / cover;
}

.swiper-slide--four {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(../images/bolukojo.jpeg)
      no-repeat 50% 50% / cover;
}

.swiper-slide--five {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(../images/miecelor.jpeg)
      no-repeat 50% 50% / cover;
}
.swiper-slide--six {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(../images/kuegandus.jpg)
      no-repeat 50% 50% / cover;
}
.swiper-slide--seven {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(../images/kueputrikandis.jpg)
      no-repeat 50% 50% / cover;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

.fauna img{
  display: flex;
  justify-content: center;
  margin: auto;
  width: 500px;
  height: 400px;
}
h4{
  font-weight: bold;
}
@media (max-width: 575px) and (min-width: 320px) {
  p{
    text-align: justify;
  }

  .gambar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .gambar img{
    width: 100px;
    height: 80px;
    border: 4px solid #575D63;
    padding: 10px;
    margin: 10px;
  }

  .baju img{
    width: 350px;
    height: 300px;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .fauna img{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 350px;
    height: 300px;
  }
}