body {
  color: #444444;
  font-family: "Open Sans", sans-serif;
  margin: 0 15px 0 15px;
}

a {
  color: #106EEA;
  text-decoration: none;
}

a:hover {
  color: #3B8AF2;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  position: fixed;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  width: 60px;
  height: 60px;
  position: fixed;
  border-radius: 50%;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #106EEA;
  border-top-color: #E2EEFD;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  opacity: 0;
  right: 15px;
  width: 40px;
  height: 40px;
  bottom: 15px;
  z-index: 996;
  position: fixed;
  visibility: hidden;
  border-radius: 4px;
  transition: all 0.4s;
  background: #D99A98;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #D99A98;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #AD8E70;
  height: 40px;
  font-size: 12px;
  transition: all 0.5s;
  color: #fff;
  padding: 0;
}

#topbar .contact-info i {
  font-style: normal;
  color: #fff;
  letter-spacing: 5px;
}

#topbar .contact-info i a {
  padding-left: 2px;
  padding-right: 20px;
  color: #fff;
}

#topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
  transition: 0.3s;
}

#topbar .contact-info i a:hover {
  color: #fff;
  text-decoration: underline;
}

#topbar .social-links a {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 0;
  transition: 0.3s;
  margin-left: 20px;
}

#topbar .social-links a:hover {
  color: white;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  height: 86px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header.fixed-top {
  height: 70px;
}

#header .logo {
  font-size: 25px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: #222222;
  padding-left: 10px;

}

#header .logo a span {
  color: black;
}

#header .logo img {
  max-height: 40px;
}

.scrolled-offset {
  margin-top: 70px;
}

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.navbar .dropdown{
  font-weight: 600;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  font-size: 15px;
  font-weight: 600;
  color: #222222;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: darkgreen;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: darkgreen;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 28px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-weight: 400;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: darkgreen;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}



/* slider section */
.slider_section {
  background-color: #fff8EA;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

}

.slider_section-container {
  position: relative;
  z-index: 2;
}

.slider_section .number_box {
  width: 50px;
  position: absolute;
  right: 25px;
  top: 46%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
  font-size: 22px;
}

.slider_section .number_box::before {
  content: "";
  width: 30px;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.slider_section .detail-box h1 {
  color: #6D603D;
  font-family: "";
  text-transform: uppercase;
  font-size: 30px;
}

.slider_section .detail-box h1 span {
  font-size: 5rem;
  font-family: "vogue";
  color: #252525;
}

.slider_section .detail-box p {
  margin-top: 15px;
}

.slider_section .detail-box .btn-box {
  margin-top: 45px;
}

.slider_section .detail-box .btn-box a {
  text-transform: uppercase;
  text-align: center;
  width: 135px;
  font-size: 15px;
}

.slider_section .detail-box .btn-box .btn-1 {
  display: inline-block;
  padding: 6px 0;
  background-color: darkgreen;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 20px;
  margin-right: 5px;
}

.slider_section .detail-box .btn-box .btn-1:hover {
  background-color: transparent;
  border-color: darkgreen;
  color: darkgreen;
}



.slider_section .img-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.slider_section .img-container .img-box {
  width: 400px;
  margin-right: 100px;
}

.slider_section .img-container .img-box img {
  width: 100%;
}



@-webkit-keyframes before-animation {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 1;
  }
}

@keyframes before-animation {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 1;
  }
}

.slider_section .carousel-indicators {
  margin: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  bottom: -150px;
}

.slider_section .carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: darkgreen;
  opacity: 1;
  border: none;
  background-clip: unset;
}

.slider_section .carousel-indicators li.active {
  background-color: #6D603D;
}

.slider_section ol.carousel-indicators.indicator-2 {
  position: unset;
}

.slider_section ol.carousel-indicators.indicator-2 li {
  width: 25px;
  height: 25px;
  text-indent: 0px;
  text-align: center;
  line-height: 25px;
  color: black;
  margin: 0;
  background-color: transparent;
  opacity: 1;
  border: none;
  display: none;
}

.slider_section ol.carousel-indicators.indicator-2 li.active {
  display: block;
}

.slider_section .carousel-control-prev {
  position: absolute;
  z-index: 10;
  font-size: 25px;
  top: 40%;
  left: 10px;
  font-weight: 700;
}

.slider_section .carousel-control-next {
  right: 10px;
  position: absolute;
  font-size: 30px;
  z-index: 10;
  top: 40%;
}

.slider_section .nav-btn {
  background: rgba(255, 255, 255, 0.55);
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.slider_section .nav-btn:hover {
  background: white;
}




.about_section {
  background-color: #fff8EA;
}

.about_section h2 {
  font-size: 3rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.about_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about_section .detail-box p {
  margin-top: 20px;
  font-family: "gabriola";
  font-size: 1.75rem;
}

.about_section .box {
  width: 45px;
  height: 45px;
  background: darkgreen;
  border-radius: 25px;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
}

.about_section .box .arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.about_section .box .right {
  transform: rotate(-45deg);
}

.about_section .box:hover {
  width: 160px;
  background: linear-gradient(to right, darkgreen, rgb(30, 192, 30));
}

.about_section .box:hover .arrow {
  display: none;
}

.about_section .box .text {
  display: none;
  margin-left: 30px;
  margin-bottom: 25px;
  transform: translateY(10px);

}

.about_section .box:hover .text {
  display: flex;
  font-size: 16px;
  font-weight: 550;
  color: black;
  letter-spacing: 0.6px;
  animation: animasi10 0.6s ease;
}

@keyframes animasi10 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.about_section .box:active {
  background: linear-gradient(to right, rgb(38, 213, 38, 0.8), rgba(255, 255, 0, 0.8));
}


.about_section .img-box img {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 100px;
}


.trending_section .radio-input {
  padding-top: 5px;
  display: flex;
  height: 330px;
  align-items: center;
}

.trending_section .glass {
  z-index: 2;
  height: 100%;
  width: 95px;
  margin-right: 25px;
  padding: 10px;
  background-color: rgba(190, 189, 189, 0.5);
  border-radius: 35px;
  box-shadow: rgba(50, 50, 93, 0.2) 0px 25px 50px -10px,
    rgba(0, 0, 0, 0.25) 0px 10px 30px -15px,
    rgba(10, 37, 64, 0.26) 0px -2px 6px 0px inset;
  backdrop-filter: blur(8px);
}

.trending_section .glass-inner {
  width: 100%;
  height: 100%;
  border-color: rgba(245, 245, 245, 0.45);
  border-width: 9px;
  border-style: solid;
  border-radius: 30px
}

.trending_section .selector {
  display: flex;
  flex-direction: column;
}

.trending_section .choice {
  margin: 10px 0 10px 0;
  display: flex;
  align-items: center;
}

.trending_section .choice>div {
  position: relative;
  width: 41px;
  height: 41px;
  margin-right: 15px;
  z-index: 0;
}

.trending_section .choice-circle {
  appearance: none;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  border-width: 10px;
  border-style: solid;
  border-color: gray;
  cursor: pointer;
  box-shadow: 0px 0px 20px -13px gray,
    0px 0px 20px -14px gray inset;
}

.trending_section .ball {
  z-index: 1;
  position: absolute;
  inset: 0px;
  transform: translateX(-95px);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -10px 10px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -15px 15px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -40px 20px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px,
    0px -1px 15px -8px rgba(0, 0, 0, 0.09);
  border-radius: 100%;
  transition: transform 800ms cubic-bezier(1, -0.4, 0, 1.4);
  background-color: rgb(232, 232, 232, 1);
}

.trending_section .choice-circle[aria-expanded="true"]+.ball {
  transform: translateX(0px);
}

.trending_section .choice-name {
  font-size: 30px;
  font-weight: 90;
  font-family: "Goudy Old Style";
  cursor: pointer;
}

.trending_section {
  padding-bottom: 50px;
  background-color: #fff8EA;
}

.trending_section h2 {
  font-size: 3rem;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}



.trending_section .img_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trending_section .img_container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.trending_section .img_container .box .img-box {
  margin: 15px;
}

.trending_section .img_container .box .img-box img {
  width: 270px;
  height: 200px;
}

.trending_section .img_container .box.b-1 {
  padding-top: 35px;
}

.contact_section {
  position: relative;
}

.contact_section h2 {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  font-family: "vogue";
}


.contact_section .flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.contact_section .map_container {
  margin: 20px;

}

.contact_section .map_container .map-responsive {
  height: 100%;
  width: 100%;
}

.mapouter {
  position: relative;
  text-align: right;
  width: 100%;
  height: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none;
  width: 1100px;
  height: 550px;
}

.gmap_iframe {
  height: 600px;
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 0 0 30px 0;
  color: #444444;
  font-size: 14px;

  background-color: #ba8d70;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background-color: #feceb8;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;

}

#footer .footer-top .footer-contact h3 {
  font-size: 24px;
  margin: 0 0 15px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact h3 span {
  color: #106eea;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  color: #777777;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #106eea;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: rgb(157, 123, 54);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #106eea;
}


#footer .copyright {
  text-align: center;
  float: center;
  font-size: 20px;
}


/* footer section*/
.footer_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fdfeff;
}

.footer_section p {
  color: #171717;
  margin: 0;
  padding: 25px 0 20px 0;
  margin: 0 auto;
  text-align: center;
}

.footer_section a {
  color: #65622d;
}

/* end footer section*/
#navbarSupportedContent {
  -webkit-transform: translateX(100vw);
  transform: translateX(100vw);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#navbarSupportedContent.lg_nav-toggle {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.custom_menu-btn button {
  margin-top: 12px;
  outline: none;
  border: none;
  background-color: transparent;
}

.custom_menu-btn button span {
  display: block;
  width: 34px;
  height: 3.5px;
  background-color: #f5a474;
  margin: 8.5px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_menu-btn .s-2 {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  width: 17px;
  margin-left: auto;
}


.menu_btn-style button .s-1 {
  -webkit-transform: rotate(45deg) translate(7px, 10px);
  transform: rotate(45deg) translate(7px, 10px);
}

.menu_btn-style button .s-2 {
  -webkit-transform: translateX(100px);
  transform: translateX(100px);
}

.menu_btn-style button .s-3 {
  -webkit-transform: rotate(-45deg) translate(7px, -10px);
  transform: rotate(-45deg) translate(7px, -10px);
}